
/* ------ Main ------ */
main #focus{
    /* width: 800px;
    height: 533px; */
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
main #focus .post-list li{
    position: absolute;
}
main #focus .btn{
    cursor: pointer;
}
main #focus .post-list{
    /* width: 800px;
    height: 533px; */
    overflow: hidden;
    margin: 0 auto;
}
main #focus .pre-btn{
    position: absolute;
    left: 0;
    top: 0;
    background: url(../image/back.png) no-repeat center;
}
main #focus .next-btn{
    position: absolute;
    right: 0;
    top: 0;
    background: url(../image/forward.png) no-repeat center;
}
hr{
    box-shadow: 1px 0 1px 2px #eee;
}

main .content{
    /* font-family: 'Microsoft YaHei', "微软雅黑", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; */
    width: 100%;
    background-color: #F6F6F6;
}
main .content ul.contentItems{
    display: flex;
    width: 1100px;
    padding: 1rem 0;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 14px;
}
main .content ul.contentItems li.list{
    width: 205px;
    height: 250px;
    overflow: hidden;
    float: left;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 2px 1px 2px #eee;
    position: relative;
    background-color: #ffffff;
}
main .content ul.contentItems li.list:hover{
    color: #FF7F50;
    font-weight: 600;
}
main .content ul.contentItems li.list .article{
    position: absolute;
    top: 90px;
    width: 100%;
    height: 250px;
    padding: 10px;
    background-color: #ffffff;
}
main .content ul.contentItems li.list h6{
    text-align: center;
    font-size: 15px;
}
main .content ul.contentItems div.pic{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
main .content ul.contentItems div.pic1{
    background: url(../image/灯泡.png) no-repeat center;
}
main .content ul.contentItems div.pic2{
    background: url(../image/钻石.png) no-repeat center;
}
main .content ul.contentItems div.pic3{
    background: url(../image/对.png) no-repeat center;
}
main .content ul.contentItems div.pic4{
    background: url(../image/head.png) no-repeat center;
}

main .news{
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
main .news .leftNews{
    flex: 2;
}
main .news .rightNews{
    flex: 3;
    position: relative;
}
main .news .newsTitle{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    color: #FF7F50;
}
main .news .newsTitle h2{
    float: left;
}
main .news .newsTitle span{
    float: right;
    margin-right: 0.5rem;
}
main .news .newsTitle span a{
    color: #FF7F50;
}
main .news article{
    padding: 1rem;
}
main .news article P{
    position: relative;
    font-size: 0.8rem;
}
main .news article P a{
    position: absolute;
    right: 0.5rem;
    bottom: 0;
    color: #FF7F50;
}
main .news .rightNews ul.newsContent{
    width: 100%;
}
main .news .rightNews ul.newsContent li{
    border-bottom: 1px dashed #000;
    width: 100%;
    cursor: pointer;
}
main .news .rightNews ul.newsContent li div.date{
    width: 4rem;
    height: inherit;
    float: left;
    text-align: center;
    color: #6E6D6D;
}
main .news .rightNews ul.newsContent li div.date .dateDay{
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px auto 2px;
    border: 2px solid #FF7F50;
    border-top: 8px solid #FF7F50;
    color: #FF7F50;
    border-radius: 5px;
    line-height: 2rem;
    font-weight: bold;
}
main .news .rightNews ul.newsContent li .contentDetail{
    height: 76px;
    padding: 0 7px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}
main .news .rightNews ul.newsContent li .contentDetail p{
    height: 3rem;
}

main .content .news .rightNews .contentShow{
    width: 990px;
    height: 200px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}
main .content .news .rightNews .contentShow ul{
    width: 2000px;
    height: 100%;
    position: absolute;
    top: 10px;
    left:30px;
    /* left:-960px; */
}
main .content .news .rightNews .contentShow ul li.show-list{
    width: 270px;
    height: 180px;
    margin-right: 60px;
    float: left;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    font-family: '小米兰亭字体', 'Microsoft YaHei', "微软雅黑", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}
main .content .news .rightNews .contentShow ul li.show-list:hover a{
    color: #FF7F50;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic{
    width: 100%;
    height: 75%;
    margin-bottom: 0.5rem;
    border-radius: 10px 10px 0 0;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic1{
    background: url(../image/list5.jpg) no-repeat center;
    background-size: 100% 100%;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic2{
    background: url(../image/list2.jpg) no-repeat center;
    background-size: 100% 100%;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic3{
    background: url(../image/list4.jpg) no-repeat center;
    background-size: 100% 100%;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic4{
    background: url(../image/list3.jpg) no-repeat center;
    background-size: 100% 100%;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic5{
    background: url(../image/list1.jpg) no-repeat center;
    background-size: 100% 100%;
}
main .content .news .rightNews .contentShow ul li.show-list .list-pic6{
    background: url(../image/list6.jpg) no-repeat center;
    background-size: 100% 100%;
}
main .content .news .rightNews .btn{
    width: 2rem;
    height: 2rem;
    position: absolute;
    cursor: pointer;
}
main .content .news .rightNews .btn-left{
    left: 1rem;
    top: 50%;
    background: url(../image/doubleleft.png) no-repeat center;
}
main .content .news .rightNews .btn-right{
    right: 1rem;
    top: 50%;
    background: url(../image/doubleright.png) no-repeat center;
}