.progress {
    width: 800px;
    height: 7px;
    background: #e3e3e3;
    border-radius: 0;
    box-shadow: none;
    margin: 40vh auto;
    overflow: visible;
}

.progress .progress-bar {
    height: 7px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: animate-positive .5s linear;
    animation: animate-positive .5s linear;
    float: left;
    width: 0;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    width: 0%;
    -webkit-transition: width .5s linear;
    -o-transition: width .5s linear;
    transition: width .5s linear;
}

.progress .progress-bar:after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    background: #fff;
    position: absolute;
    right: -5px;
    top: -10px;
    border: 5px solid #FF7F50;
}

.progress .progress-value {
    width: 45px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    background: #393a3d;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: -12px;
}

.progress .progress-value:after {
    content: "";
    border-top: 7px solid #393a3d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: 35%;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}