*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
}
@font-face{
    font-family: '小米兰亭字体';
    src: url(../font/小米兰亭字体.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: '小米兰亭字体', 'Microsoft YaHei', "微软雅黑", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
    /* background-color: gray; */
    /* margin-top: 3.5rem; */
}
a{
    color: #000000;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* ------ Loading ----- */
#loading{
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    /* background: url(../Double\ Ring-1s-200px.svg) no-repeat center; */
    background-color: #708090;
    text-align: center;
    z-index: 9999;
}
/* ---------- <Header> ---------- */
header{
    width: 100%;
    height: 3.5rem;
    /* position: fixed;
    top: 0;
    left: 0; */
    font-size: 1.2rem;
    background-color: #708090;
    border-bottom: 4px solid #FF7F50;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
header .logo{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 3rem;
    background: url("../image/LOGOpng.png") no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
}
header nav{
    margin-right: 3rem;
}
header nav ul li{
    float: left;
    margin-left: 5px;
}
header nav ul li a{
    color: #ffffff;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 1rem;
}
header nav ul li a:hover{
    color: #FFFFE0;
    background-color: #FF7F50;
}
.bgvisited{
    color: #FFFFE0;
    background-color: #FF7F50;
}
 /* ---------- <Main> ---------- */
 
 /* ---------- <Footer> -------- */
 footer{
    width: 100%;
    min-height: 220px;
    background-color: #F6F6F6;
    display: flex;
    padding-top: 1rem;
 }
 footer .container{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
 }
 footer .container ul{
    flex: 1;
 }
 footer .container ul:last-of-type{
     text-align: right;
 }
 footer .container ul.ul2{
    flex: 1.2;
 }
 footer .container ul li{
    width: 100%;
    line-height: 30px;
    font-size: 15px;
    white-space: nowrap;
    float: left;
}
footer .container ul li .ftlogo{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    float: left;
    background-color: #FF7F50;
}
footer .container ul li .facebook{
    background: url(../image/Popular_Facebook_.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .github{
    background: url(../image/Popular_GitHub.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .google{
    background: url(../image/Popular_G+.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .twitter{
    background: url(../image/Popular_Twitter.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .weibo{
    background: url(../image/CN_sina_weibo.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .zhihu{
    background: url(../image/CN_zhihu.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .wechat{
    background: url(../image/CN_tencent_wechat.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .mail{
    background: url(../image/Popular_mail.svg) no-repeat center;
    background-size: 100% 100%;
}
footer .container ul li .wechatCode{
    width: 100px;
    height: 100px;
    background: url(../image/myWechat.jpg) no-repeat center;
    background-size: 100% 100%;
    position: relative;
    display: none;
}
footer .container ul li.myWechat:hover .wechatCode{
    display: block;
    position: fixed;
    left: 55vw;
    bottom: 1vh;
}
footer *>a{
    color: #444444;
    font-weight: bold;
}
footer *>a:hover{
    color: #FF7F50;
}