body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,a,p,textarea{
	margin: 0;
	padding: 0;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

ul,ol,li{
	list-style: none;
}/*去掉前面的小圆点或数字*/

a{
	text-decoration: none;
	display:block;
}/*去掉下划线、转化为块元素、颜色为 色*/

img{
	border: none;
	display: block;
}

.clearfloat{
	zoom:1;
}

.clearfloat{
	clear: both;
	/*content: "";
	visibility: hidden;
	height: 0;*/
}
